{# src/STX/UserBundle/Resources/views/layout.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
     {{ parent() }}
{% endblock %}
    
{% block body %}

    <div class="row">
    {% for type, messages in app.session.flashbag.all() %}
        {% for key, message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>

    <div class="row">
        <div id="menu" class="col-lg-2">
            <span></span>
        </div>
        
        <div id="menu" class="col-lg-10">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
            
{% endblock %}
    

