@CHARSET "UTF-8";

.expand {
    height: 2em;
    width: 50%;
    padding: 3px;
    resize: none;
}

#chuckSlider {
    opacity:1;
    transition: opacity 1s; 
}

#chuckSlider.fadeOut {
    opacity:0;
}

.datepicker .day {
	font-weight: bold;
	color: #ff8080;
}


.test + .tooltip > .tooltip-inner {
      background-color: #ff8080; 
      color: #FFFFFF; 
      border: 1px solid red; 
      padding: 5px;
      font-size: 10px;
}
  
/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid red;
}

.glyphicon-large {
    /* min-height: 260px;
    line-height: 260px;*/
    font-size: 35px;
    width: 1em;
    display: block;
    margin: -0.5em auto 0px;
}