@CHARSET "UTF-8";

.expand {
    height: 2em;
    width: 50%;
    padding: 3px;
    resize: none;
}

#chuckSlider {
    opacity:1;
    transition: opacity 1s; 
}

#chuckSlider.fadeOut {
    opacity:0;
}