<div id="chuckSlider" class="col-lg-12">
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var factsArray = {{ chuckNorrisFacts|json_encode|raw }};

		var counter = 0;
		var curIndex = 0;
		var imgDuration = 9000;
		var imgNumber = 0;

		function slideShow() {
		    document.getElementById('chuckSlider').className += "fadeOut";
		    setTimeout(function() {

		        imgNumber = Math.floor(Math.random()* {{ filesFound }} ) + 1;
		        		        
				var assetString = "{{ asset(chuckNorrisImageURL) }}";				
				
				var indexChar = assetString.indexOf(".png") - 1;

				var newURL = assetString.substr(0,indexChar) + imgNumber.toString() + assetString.substr(indexChar + 1);

				var strA = "<div class=\"col-lg-1\"><img alt=\"Chuck Image\" src=\"";
				var strB = "\" /></div>	<div class=\"col-lg-10\"><p class=\"text-center\"><span style=\"word-break: break-all\">";
				var strC = factsArray[curIndex];
				var strD = "</span></p></div><div class=\"col-lg-1\"><img alt=\"Chuck Image\" src=\"";
				var strE = "\" /></div>";

				var result = strA.concat(newURL.concat(strB.concat(strC.concat(strD.concat(newURL.concat(strE))))));
				var html_res = $.parseHTML(result);
				$('#chuckSlider').empty();
		        $('#chuckSlider').append(html_res);
		        
		        document.getElementById('chuckSlider').className = "";
		    },1000);
		    curIndex++;
		    if (curIndex == factsArray.length) { curIndex = 0; }
		    setTimeout(slideShow, imgDuration);
		}
		slideShow();
		
	});
</script>