<!-- 
<div id="chuckSlider" class="col-lg-12">
	<p class="text-center"></p>
</div>
 -->

<div id="chuckSlider" class="col-lg-12">
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var factsArray = {{ chuckNorrisFacts|json_encode|raw }};

		var counter = 0;
		var curIndex = 0;
		var imgDuration = 6000;
		var imgNumber = 0;

		function loop() {
		    if (counter > factsArray.length-1 ) counter = 0;
		    $('#cnfactslide p:first').html(factsArray[counter]);
		    counter++;
		    //console.log(counter);
		    setTimeout(loop, 6000);
		}
		loop();


		function slideShow() {
		    document.getElementById('chuckSlider').className += "fadeOut";
		    setTimeout(function() {
		        		        
		        //$('#chuckSlider p:first span').html(factsArray[curIndex]);

		        imgNumber = Math.floor(Math.random()*3) + 1;
		        		        
				var assetString = "{{ asset(chuckNorrisImageURL) }}";

				/*var assetString = "http://croissants.hrp.secutix.net/web/bundles/stxcroissants/images/chuck2.png";*/
				
				
				var indexChar = assetString.indexOf(".png") - 1;

				var newURL = assetString.substr(0,indexChar) + imgNumber.toString() + assetString.substr(indexChar + 1);

				var strA = "<div class=\"col-lg-1\"><img alt=\"Chuck Image\" src=\"";
				var strB = "\" /></div>	<div class=\"col-lg-10\"><p class=\"text-center\"><span style=\"word-break: break-all\">";
				var strC = factsArray[curIndex];
				var strD = "</span></p></div><div class=\"col-lg-1\"><img alt=\"Chuck Image\" src=\"";
				var strE = "\" /></div>";

				var result = strA.concat(newURL.concat(strB.concat(strC.concat(strD.concat(newURL.concat(strE))))));
				var html_res = $.parseHTML(result);
				$('#chuckSlider').empty();
		        $('#chuckSlider').append(html_res);

		        /*
		        var str1 = "<img alt=\"Chuck Image\" src=\"";
		        var str2 = "\" />";
		        var str3 = "\" /><span style=\"word-break: break-all\">";
		        var str4 = str3.concat(factsArray[curIndex]);
		        var str5 = "</span>";
		        var res = str1.concat(newURL.concat(str4.concat(str5.concat(str1.concat(newURL.concat(str2))))));
		        var html = $.parseHTML(res);
		        $('#chuckSlider p:first').empty();
		        $('#chuckSlider p:first').append(html);*/
		        
		        document.getElementById('chuckSlider').className = "";
		    },1000);
		    curIndex++;
		    if (curIndex == factsArray.length) { curIndex = 0; }
		    setTimeout(slideShow, imgDuration);
		}
		slideShow();
		
	});
</script>