{# src/STX/UserBundle/Resources/views/Resetting/checkEmail.html.twig #}

{% extends "STXUserBundle::layout.html.twig" %}

{% block stxcroissants_body %}
	<div class="row">
		<div class="col-lg-offset-3 col-lg-8">
			<p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-offset-5 col-lg-1">
     		<a class="btn btn-primary btn-sm" href="{{ path('fos_user_security_login') }}">Retour page login</a></li>
    	</div>
    </div>
{% endblock %}
